
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_Client.cshtml";
}

<div class="container">
    <h1>Săn vé rẻ</h1>
    <div>
        <img src="~/Models/anhAsp/anh1.jpg" height="200" width="1500" />
    </div>

    <nav class="navbar navbar-expand-sm bg-dark justify-content-center">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Săn vé rẻ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Săn phòng giá rẻ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Săn combo 1.999k</a>
            </li>
        </ul>
    </nav>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-warning ">Săn ngay</button>
    </div>
    <h1>Chặng bay giá rẻ</h1>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Đường bay nổi bật</th>
                    <th>12/2020</th>
                    <th>01/2020</th>
                    <th>02/2020</th>
                    <th>03/2020</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hà nội->Đà Lạt</td>
                    <td>100.000đ</td>
                    <td>110.000đ</td>
                    <td>110.000đ</td>
                    <td>110.000đ</td>
                </tr>
            </tbody>
        </table>

    </div>
    <h1>Hot deal</h1>
    <div class="row d-inline-flex">
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/1.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/2.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/3.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/4.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/5.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 p-2">
            <div class="d-flex flex-column text-center border height100">
                <div>
                    <img src="~/Models/anhAsp/6.jpg" />
                </div>
                <h2>Khách sạn</h2>
                <p>Info..</p>
            </div>
        </div>
    </div>
    <div><a href="#">Xem thêm các Deal hot nhất</a></div>
    <div>
        <h1>Cam kết từ Vntrip</h1>
        <img src="~/Models/anhAsp/camKet.png" alt="...">
    </div>
</div>

