
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_Client.cshtml";
}



<!DOCTYPE html>
<html lang="vi">
<head>
    <link href="~/Content/css/style1.css" rel="stylesheet" />
    <link href="~/Content/css/style3.css" rel="stylesheet" />
    <link href="~/Content/css/style2.css" rel="stylesheet" />
</head>
<body>
    <div id="__next">
    <div class="ant-spin-nested-loading">
        <div class="ant-spin-container">
        <div class="pageBody">
            <main class="main">
            <section class="termOfUse">
                <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/sanVeReclient/index"><span>Trang chủ</span></a>
                        </li><li class="active">Điều khoản và Điều kiện</li>
                    </ul><div class="termOfUse__body">
                    <h2 class="size-24 mb15 uppercase"></h2>
                    <div class="termOfUse__cont">
                        <h3><b>ĐIỀU KIỆN VÀ ĐIỀU KHOẢN</b></h3><br />

                        KHÁCH HÀNG PHẢI ĐỌC NHỮNG ĐIỀU KIỆN VÀ ĐIỀU KHOẢN SỬ DỤNG DƯỚI ĐÂY TRƯỚC KHI SỬ DỤNG TRANG WEB VNTRIP.VN. VIỆC SỬ DỤNG TRANG WEB NÀY XÁC NHẬN VIỆC CHẤP THUẬN VÀ TUÂN THỦ CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN SAU:
                        <br />
                        <b>I. Tiêu chí và điều kiện sử dụng hệ thống đặt phòng trực tuyến</b>
                        <br />
                        <b>1. Độ tuổi</b>
                        <br />
                        Khách hàng phải từ 18 tuổi trở lên mới được phép tham gia đặt phòng trên Trang web Vntrip.vn.
                        <br />
                        <b>2. Thanh toán</b>
                        <br />
                        - Thanh toán trực tuyến: Vntrip.vn chấp nhận thanh toán với hầu hết các loại thẻ quốc tế bao gồm: Visa, Master, American Express, JCB và các thẻ nội địa ATM. Đối với thẻ tín dụng, dựa trên loại tiền tệ và quốc gia phát hành thẻ của quý khách, Đơn vị phát hành thẻ sẽ tính thêm chi phí tỉ giá và các mức phí khác với sự đồng ý của Khách hàng và Đơn vị phát hành thẻ.
                        <br />
                        - Thanh toán bằng chuyển khoản: Vntrip.vn chấp nhận thanh toán bằng hình thức chuyển khoản qua ATM, qua Internet Banking hoặc chuyển khoản tại quầy giao dịch của Ngân hàng.
                        <br />
                        <b>3. Xác nhận thông tin đặt phòng</b>
                        <br />
                        Thông tin đặt phòng sẽ được xác nhận lần cuối cùng khi Khách hàng đã thực hiện thanh toán tiền đặt phòng. Vntrip.vn sẽ gửi thư điện tử xác nhận “Đặt phòng thành công” tới khách hàng. Thông tin chính bao gồm các nội dung: Mã đặt phòng; Địa chỉ Cơ sở lưu trú; Số điện thoại của Cơ sở lưu trú; Ngày nhận phòng và ngày trả phòng, Xác nhận Khách hàng đã thanh toán đầy đủ hoặc Xác nhận Khách hàng sẽ thanh toán tại Cơ sở lưu trú (nếu Khách hàng lựa chọn hình thức thanh toán tại Cơ sở lưu trú); Loại phòng; Số Khách hàng; Tên người nhận phòng; Bữa ăn; Chính sách hủy đặt phòng; Yêu cầu khác; cùng các Chính sách của Cơ sở lưu trú và Chính sách của Vntrip.vn.
                        <br />
                        Ngoài ra, việc đặt phòng của Khách hàng sẽ bị hủy bỏ nếu đến thời điểm nhận phòng Khách hàng chưa hoàn tất thủ tục thanh toán (Áp dụng cho hình thức thanh toán Chuyển khoản, thanh toán Trực tuyến và thanh toán tại Văn phòng của Vntrip.vn) và chưa nhận được thư điện tử xác nhận “Đặt phòng thành công” từ Vntrip.vn.
                        <br />
                        Trường hợp Khách hàng không thanh toán ngay tại thời điểm đặt phòng trên Vntrip.vn, chúng tôi không đảm bảo giá phòng, tình trạng phòng vẫn như nội dung hiển thị trong thời điểm Khách hàng đặt phòng trên Trang web.
                        <br />
                        <b>Lưu ý:</b>
                        Khách hàng cần kiểm tra lại toàn bộ thông tin đơn phòng để đảm bảo tính chính xác trước khi tiến hành thanh toán. Nếu có bất cứ sai sót, thay đổi hoặc kiểm tra tình trạng phòng, giá phòng, vui lòng liên hệ với tổng đài Chăm sóc Khách hàng (CSKH) 0963 266 688 để được hỗ trợ.
                        <br />
                        <b>4. Thay đổi thông tin đặt phòng, Chính sách hủy đặt phòng & NoShow</b>
                        <br />
                        Nếu Khách hàng muốn thay đổi thông tin đặt phòng, vui lòng liên hệ với tổng đài Chăm sóc Khách hàng (CSKH) 0963 266 688 hoàn toàn để được hỗ trợ. Vntrip.vn luôn cố gắng hỗ trợ tốt nhất cho Khách hàng, tuy nhiên chúng tôi không đảm bảo mọi yêu cầu sẽ được thực hiện.
                        <br />
                        Trường hợp Khách hàng muốn hủy đơn phòng đã đặt, vui lòng Đăng nhập tài khoản trên Website/Ứng dụng đặt phòng của Vntrip.vn và gửi Yêu cầu hủy phòng tới chúng tôi (thông qua mục Quản lý đặt phòng); hoặc liên hệ tới Tổng đài CSKH 0963 266 688 để được hỗ trợ hủy phòng.
                        <br />
                        Tất cả các yêu cầu hủy phòng/thay đổi thông tin đặt phòng của Khách hàng sẽ được giải quyết dựa vào chính sách hủy phòng/thay đổi đặt phòng của Cơ sơ lưu trú mà chúng tôi đã gửi cho Khách hàng. Phí hủy đặt phòng sẽ được áp dụng nếu đặt phòng của Khách hàng là không được hoàn hủy/ thay đổi, hoặc thời điểm gửi yêu cầu hủy phòng của quý khách đã rơi vào quy định phạt hủy. Khách hàng vui lòng kiểm tra kỹ chính sách hủy/thay đổi đặt phòng trước khi gửi yêu cầu hủy/đổi cho chúng tôi.
                        <br />
                        Việc đến nhận phòng không đúng với giai đoạn đã đặt hoặc Khách hàng không đến nhận phòng mà không có sự thông báo trước sẽ bị xem là Noshow. Khách hàng vẫn phải thanh toán toàn bộ chi phí cho đơn đặt phòng đó nếu phòng Khách hàng đặt là không hoàn hủy. Để thông tin được cập nhật kịp thời, Khách hàng vui lòng liên hệ tới Tổng đài CSKH của Vntrip.vn theo số điện thoại: 0963 266 688.
                        <br />
                        Lưu ý:
                        Cùng một Cơ sở lưu trú, có thể có nhiều chính sách hủy phòng khác nhau tùy theo từng hạng phòng. Sự khác nhau này nằm ở những ràng buộc của giá, thời gian đặt phòng và những ưu đãi của chương trình khuyến mãi mà Khách hàng lựa chọn khi thực hiện đặt phòng. Do đó, Khách hàng xin vui lòng xem kĩ chính sách hủy phòng/thay đổi đặt phòng trước khi tiến hành thanh toán, và trong thư điện tử xác nhận Đặt phòng thành công từ Vntrip.vn. Chúng tôi không chịu trách nhiệm giải quyết các phát sinh, khiếu nại về Chính sách hủy/thay đổi đặt phòng sau thời điểm Khách hàng đặt phòng thành công.
                        <br />
                        <b>5. Thông tin trang web</b>
                        <br />
                        Chúng tôi nỗ lực cung cấp chính xác các thông tin được hiển thị trên Trang web của Vntrip.vn. Tuy nhiên, xin lưu ý các thông tin cũng được chỉnh sửa, cập nhật từ các Cơ sở lưu trú từ những phát sinh ngay tại thời điểm đó, do đó chúng tôi không đảm bảo được tất cả thông tin trên là chính xác hoàn toàn hoặc không có bất kỳ lỗi nào. Chúng tôi bảo lưu quyền thay đổi thông tin hiển thị trên Trang web (bao gồm Điều kiện và Điều khoản này) bất kỳ thời điểm nào mà không phải báo trước. Trong trường hợp thông tin sai lệch, Khách hàng thông báo ngay cho Vntrip.vn để có biện pháp xử lý kịp thời, đảm bảo quyền và lợi ích người tiêu dùng.
                        <br />
                        Trang web không giới thiệu hay cam kết về hạng sao, chất lượng, tiêu chuẩn, mức độ dịch vụ,… của bất kỳ Cơ sở lưu trú nào được đăng tải trên trang web. Do đó, chúng tôi từ chối việc đưa ra bất kỳ đảm bảo hoặc cam kết nào liên quan đến việc giới thiệu hay xác nhận trên. Các Cơ sở lưu trú trên trang web có thể được xếp hạng theo các tiêu chuẩn khác nhau, bao gồm nhưng không giới hạn theo sao, theo đánh giá chủ quan của đa số khách hàng, theo đánh giá dựa trên tiêu chí, đặc tính của từng vùng miền,… và có thể được cập nhật hoặc được sửa đổi tại từng thời điểm. Các thông tin xếp hạng Cơ sở lưu trú trên trang web chỉ nhằm mục đích hướng dẫn chung, không đảm bảo tính chính xác của các xếp hạng.
                        <br />
                        Những ý kiến, đánh giá và góp ý về các Cơ sở lưu trú được đăng trên trang web hoàn toàn là do những Khách hàng đã sử dụng dịch vụ của các Cơ sở lưu trú đó cung cấp cho chúng tôi, và chỉ nhằm một mục đích là thông tin tham khảo cho những Khách hàng khác để chọn lựa được một Cơ sở lưu trú phù hợp với nhu cầu lưu trú của họ
                        <br />
                        <b>6. Trách nhiệm</b>
                        <br />
                        Phạm vi dịch vụ và trách nhiệm:
                        <br />
                        Vntrip.vn không phải là đơn vị đại diện, sở hữu, quản lý, điều hành, kiểm soát hoặc đảm bảo cho bất kỳ sản phẩm phòng ở, khách sạn hay dịch vụ nào trên trang web hoặc các trang kết nối. Trách nhiệm của Vntrip.vn chỉ cho phép thực hiện việc đặt phòng, là trung gian giao dịch giữa Khách hàng và Cơ sở lưu trú. Vntrip.vn cam kết cho thuê phòng còn trống được cung cấp bởi các Cơ sở lưu trú thành viên, và không cho bán số phòng nhiều hơn số phòng Vntrip.vn có. <span style="color:red">Trong trường hợp không có phòng trống do Cơ sở lưu trú đã cho thuê vượt quá số phòng đăng ký tại Vntrip.vn, Vntrip.vn sẽ phối hợp với cơ sở lưu trú để tìm phương án sắp xếp dịch vụ tương đương cho khách tại Cơ sở lưu trú khác. Nếu không tìm thấy dịch vụ phù hợp, Vntrip.vn sẽ hoàn lại 100% số tiền Khách hàng đã thanh toán.</span>
                        <br />
                        Các cơ sở lưu trú có trách nhiệm cung cấp chỗ ăn ở và đón tiếp những khách hàng đã đặt phòng thông qua Vntrip.vn theo đúng nội dung đã thỏa thuận. Sau khi Khách hàng đã đặt phòng thành công tại cơ sở lưu trú thông qua Vntrip.vn, chúng tôi không chịu trách nhiệm với các vấn đề của Khách hàng trong thời gian sử dụng dịch vụ tại Cơ sở lưu trú.
                        <br />
                        Vntrip.vn nỗ lực hết mình để đảm bảo tất các mức giá hoặc thông tin hiển thị trên Website là chính xác vào thời điểm phát hành. Tuy nhiên, các thay đổi về điều kiện kinh tế, thiên nhiên có thể xảy ra sau ngày phát hành làm các thông tin hiển thị trên Trang web không còn chính xác hoặc không còn phản ánh tình trạng hiện thời. Vntrip.vn bảo lưu quyền từ chối mọi đảm bảo hoặc trách nhiệm liên quan đến tính chính xác, đầy đủ, hoàn thiện hoặc sự phù hợp của tất cả nội dung đăng tải trên Trang web.
                        <br />
                        <b>Miễn trừ trách nhiệm:</b>
                        <br />
                        - Các Cơ sở lưu trú trên trang web là các đơn vị độc lập, không phải là đại lý, chi nhánh hay đơn vị trực thuộc của Vntrip.vn. Vntrip.vn là đơn vị trung gian cung cấp dịch vụ đặt phòng tại các Cơ sở lưu trú. Chúng tôi không chịu trách nhiệm cho các lỗi, sai sót, vi phạm hoặc sơ suất của bất kỳ Cơ sở lưu trú nào gây ảnh hưởng tới Khách hàng.
                        <br />
                        - Các thông tin xếp hạng Cơ sở lưu trú trên trang web chỉ nhằm mục đích hướng dẫn chung, là tài liệu tham khảo cho khách hàng trong việc chọn lựa sản phẩm dịch vụ phù hợp, Vntrip.vn không đảm bảo về tính chính xác của các xếp hạng. Vntrip.vn từ chối mọi tuyên bố, bảo đảm hoặc trách nhiệm liên quan đến chất lượng hoặc tính phù hợp của tất cả các Cơ sở lưu trú trên trang web của chúng tôi.
                        <br />
                        - Các nội dung đánh giá về Cơ sở lưu trú do khách hàng gửi cho Vntrip.vn được xem là không có tính chất bảo mật và cũng không phải là thông tin sở hữu độc quyền. Vntrip.vn không có bất kỳ trách nhiệm hoặc nghĩa vụ nào trong việc ghi nhận quyền tác giả cho người gửi.
                        <br />
                        - Vntrip.vn không chịu trách nhiệm với bất kỳ sai sót, thiệt hại, mất mát nào do hỏng hóc máy móc từ máy chủ gây ra, vi rút xâm nhập, không kết nối được internet, thiên tai,…
                        <br />
                        - Vntrip.vn không chịu trách nhiệm với bất kỳ thiệt hại, mất mát của Khách hàng tại Cơ sở lưu trú hoặc khoản phí nào phát sinh liên quan đến những sản phẩm hay những dịch vụ của Cơ sở lưu trú.
                        <br />
                        <b>II. Tiêu chí và điều kiện sử dụng hệ thống mua vé máy bay trực tuyến</b>
                        <br />
                        Vntrip là đại lý chuyên cung cấp vé máy bay của các hãng hàng không nội địa và quốc tế mở bán tại Việt Nam như: Vietnam Airlines, Jetstar Pacific, Vietjet Air …
                        <br />
                        <b>1. Phạm vi áp dụng</b>
                        <br />
                        Điều kiện dưới đây áp dụng riêng cho chức năng mua vé máy bay trực tuyến tại website vntrip.vn. Khi sử dụng chức năng để đặt chỗ và mua vé, Khách hàng mặc nhiên đã chấp thuận và tuân thủ tất cả các chỉ dẫn, điều khoản, điều kiện và lưu ý đăng tải trên website, bao gồm nhưng không giới hạn bởi Điều kiện Sử dụng nêu ở đây.
                        <br />
                        <b>2. Điều kiện sử dụng tính năng mua vé trực tuyến</b>
                        <br />
                        Tính năng mua vé trực tuyến chỉ sử dụng cho mục đích cá nhân và phi thương mại. Khách hàng không được phép sửa đổi, sao chép, phổ biến, dịch chuyển,  hiển thị, vận hành, nhân bản, công bố, nhượng quyền, tạo các liên kết, chuyển giao hoặc tổ chức kinh doanh từ các thông tin, phần mềm, sản phẩm hay dịch vụ có được từ tính năng mua vé trực tuyến.
                        Tính năng mua vé trực tuyến sẽ trợ giúp Khách hàng tra cứu thông tin và hoàn tất các thao tác mua sản phẩm dịch vụ một cách hợp lệ. Tuy nhiên nếu lạm dụng tính năng này, Khách hàng có thể sẽ bị từ chối truy cập hoặc sử dụng.
                        Khách hàng phải khẳng định và bảo đảm rằng Khách hàng đã đủ tuổi khi sử dụng chức năng mua vé trực tuyến đảm bảo việc tuân thủ Điều kiện Sử dụng nêu ra ở đây và có đủ quyền và năng lực theo quy định của pháp luật để thực thi các hành vi liên quan đến việc sử dụng tính năng này. Khách hàng chấp nhận nghĩa vụ về mặt tài chính đối với  mọi hành vi sử dụng Website của chính mình hoặc bất cứ cá nhân hay tổ chức nào sử dụng tên và tài khoản của Khách hàng. Khách hàng phải tự kiểm soát việc sử dụng tính năng mua vé trực tuyến sử dụng tài khoản do Khách hàng đăng ký. Khách hàng phải đảm bảo rằng mọi thông tin do Khách hàng hay các thành viên trong gia đình cung cấp khi sử dụng tính năng này là đúng và chính xác.

                        <br /><b>3. Quy định đặt chỗ</b>
                        <br />
                        Khách hàng có thể đặt chỗ cho tối đa 9 khách (không bao gồm trẻ sơ sinh) trong mỗi lần thực hiện.
                        Trẻ em từ 2 tuổi đến dưới 12 tuổi và trẻ sơ sinh dưới 2 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) phải được đặt chỗ đi cùng bố mẹ/người giám hộ hoặc người được uỷ quyền.
                        Trẻ sơ sinh dưới 2 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) không chiếm chỗ được áp dụng mức giá bằng 10% mức giá áp dụng dành cho người lớn.
                        Trẻ sơ sinh dưới 2 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) sử dụng chỗ riêng CHƯA THỂ đặt chỗ trên hệ thống.
                        Trẻ em từ 2 tuổi đến dưới 12 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) được áp dụng mức giá bằng 75% mức giá áp dụng dành cho người lớn ( hãng Vietnam Airlines) - Trẻ em từ 2 tuổi đến dưới 12 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) được áp dụng mức giá bằng  mức giá áp dụng dành cho người lớn ( hãng Vietjet Air) - Trẻ em từ 2 tuổi đến dưới 12 tuổi (tại thời điểm khởi hành chặng bay đầu tiên) được áp dụng mức giá bằng mức giá áp dụng dành cho người lớn ( hãng Jetstar Pacific).
                        Trẻ em dưới 14 tuổi đi một mình cần có giấy Miễn trừ trách nhiệm do người đại diện theo pháp luật của trẻ em đó cam kết với hãng vận chuyển.
                        Đặt chỗ trực tuyến được thực hiện khi có giá và chỗ. Giá vé trên Website chỉ áp dụng cho các giao dịch mua vé trên Website.
                        Đặt chỗ của Khách hàng sẽ không được đảm bảo đến khi thanh toán thành công. Sau khi nhận được khoản thanh toán, Vntrip sẽ xuất vé và gửi thông tin vé máy bay cho Khách hàng qua địa chỉ email Khách hàng đã đăng ký trên website.
                        <br /><b>4. Quy định giá vé và các khoản phí</b>
                        <br />
                        Giá vé thay đổi theo từng thời điểm, Vntrip không đảm bảo Giá vé cố định. Giá vé sẽ được xác định tại thời điểm xuất vé.
                        <br />
                        Giá vé máy bay mà Khách hàng cần thanh toán gồm: giá vé chuyến bay, các phụ phí khác được quy định bởi các hãng hàng không và phí dịch vụ của Vntrip (tức phí xuất vé). Giá vé sẽ được Vntrip thông báo cho khách hàng trước khi thanh toán.
                        <br />
                        Ngoài ra, Vntrip không chịu trách nhiệm đối với một số loại thuế sân bay chưa được bao gồm trong Giá vé do nhà chức trách yêu cầu thu tại sân bay và các khoản phí có thể phát sinh theo chính sách của ngân hành phát hành thẻ.
                        <br />
                        <b>5. Quy định về thanh toán</b>
                        <br />
                        Thanh toán trực tuyến: Vntrip.vn chấp nhận thanh toán với hầu hết các loại thẻ quốc tế bao gồm: Visa, Master, American Express, JCB và các thẻ nội địa ATM. Đối với thẻ tín dụng, dựa trên loại tiền tệ và quốc gia phát hành thẻ của Khách hàng, Đơn vị phát hành thẻ sẽ tính thêm chi phí tỉ giá và các mức phí khác với sự đồng ý của Khách hàng và Đơn vị phát hành thẻ.
                        <br />
                        Thanh toán qua các cổng như: Momo, airpay, vnpay, zalopay,payoo,...
                        <br />
                        Thanh toán bằng chuyển khoản: Vntrip.vn chấp nhận thanh toán bằng hình thức chuyển khoản qua ATM, qua Internet Banking hoặc chuyển khoản tại quầy giao dịch của Ngân hàng.Khách hàng có thể chọn các hình thức thanh toán cụ thể trong quá trình đặt vé.
                        <br />
                        <b>6. Hủy, đổi vé máy bay</b>
                        <br />
                        Các hãng hàng không có thể hủy vé máy bay hoặc đổi vé máy bay sau khi vé máy bay đã được xuất vì một số lý do chủ quan từ Hãng hoặc vì một số lý do bất khả kháng. Trường hợp nhận được thông tin về việc hủy vé và giải pháp đề nghị của Hãng, Vntrip sẽ thông báo ngay cho Khách hàng.
                        <br />
                        Trong trường hợp hãng hàng không có các điều kiện về việc hủy vé hoặc/và đổi vé thì Khách hàng có quyền hủy vé theo đúng các điều kiện đó.
                        <br />
                        Trong trường hợp hủy vé, các khoản phí dịch vụ mà Khách hàng đã trả cho Vntrip sẽ không được trả lại. Trong trường hợp đổi vé máy bay, Khách hàng đồng ý trả phí dịch vụ thực hiện việc đổi vé cho Vntrip.
                        <br />
                        <b>7. Quyền miễn trừ trách nhiệm</b>
                        <br />
                        Khách hàng hoặc người có tên trên vé máy bay cần có đầy đủ giấy tờ hợp lệ phục vụ cho việc di chuyển bằng đường hàng không (Chứng minh nhân dân, hộ chiếu, visa…) ngay tại thời điểm đặt vé.
                        <br />
                        Khách hàng hoặc người có tên trên vé máy bay tự chịu trách nhiệm nếu không có visa nhập cảnh, quá cảnh theo quy định. Khách hàng hoặc người có tên trên vé máy bay chịu trách nhiệm tìm hiểu thông tin visa trước khi thực hiện việc đặt vé.
                        <br />
                        Vntrip không chịu trách nhiệm trong trường hợp đặt vé không thể thực hiện bởi các lý do kỹ thuật và các trường hợp bất khả kháng khác.
                        <br />
                        Các hãng hàng không có trách nhiệm thực hiện các dịch vụ vận chuyển hàng không. Vntrip không chịu trách nhiệm trong các trường hợp cụ thể dưới đây:
                        <br />
                        <br /> Vntrip không chịu trách nhiệm cho bất kỳ sự chậm trễ, thay đổi, hủy bỏ hoặc sự cố nào về chuyến bay
                        <br /> Chất lượng dịch vụ hàng không và các dịch vụ liên quan (như thất lạc hành lý)
                        <br />Thông tin khuyến mại bị sai lệch do hãng hàng không cung cấp
                        <br />Khách hàng mua vé nhưng không đến trong thời gian làm thủ tục để lên máy bay
                        <br />Khách hàng mua vé nhưng không sử dụng vé, không thực hiện hành trình theo vé đã mua
                        <br />Khách hàng mua vé nhưng không sử dụng toàn bộ hành trình (ví dụ: đi một chiều đối với vé khứ hồi)
                        <br />Khách hàng bị từ chối chuyên chở do không có đầy đủ giấy tờ cá nhân, không đủ điều kiện xuất nhập cảnh, thuộc trường hợp cấm bay theo quy định (không có visa, không có hộ chiếu, chứng minh nhân dân, các giấy tờ khi du lịch với trẻ vị thành niên)
                        <br />Tất cả khiếu nại liên quan đến việc thực hiện hợp đồng chuyên chở, người khách hàng làm việc trực tiếp với các hãng hàng không và việc khiếu nại cần phù hợp với quy định của hãng hàng không đó
                        <br />Vntrip không chịu trách nhiệm về sự lựa chọn chuyến bay của Khách hàng, người có tên trên vé máy bay
                        <br />Vntrip không chịu trách nhiệm bồi thường cho Khách hàng nếu nguyên nhân được xác định do các trường hợp bất khả kháng (thiên tai, tấn công khủng bố, đình công, tuyết lở, hacker tấn công mạng lưới Internet…) hoặc lỗi của hãng hàng không.
                        <br />
                        Trong mọi trường hợp, mức bồi thường tối đa Vntrip bồi thường cho khách hàng bằng mức phí dịch vụ khách hàng trả cho Vntrip.
                        <br />
                        <b>8. Các quy định khác</b>
                        <br />
                        Ngoài  Điều kiện sử dụng Website áp dụng đối với các giao dịch thực hiện tại Website này, các điều kiện riêng biệt khác có thể được áp dụng đối với việc chuyên chở hành khách, hành lý hoặc một số chương trình khuyến mại cụ thể của các hãng hàng không mà Khách hàng đã đặt vé
                        <br />Khi thực hiện chuyến bay do hãng hàng không nào khai thác, Khách hàng sẽ phải tuân thủ Điều lệ vận chuyển của hãng hàng không đó áp dụng đối với việc chuyên chở hành khách, hành lý và hàng hóa.
                        <br />Qúy khách chịu trách  nhiệm đảm bảo đủ giấy tờ làm thủ tục xuất nhập cảnh bao gồm hộ chiếu và thị thực theo quy định của các nước có liên quan trong hành trình.
                        <br /><b>9. Thông tin liên hệ và trợ giúp</b>
                        <br />
                        Mọi khiếu nại hoặc yêu cầu hỗ trợ (hoàn vé, thay đổi đặt chỗ, thay đổi hành trình, gia hạn vé …) Khách hàng liên hệ đến Vntrip qua số điện thoại 0963266688 Hoặc email cs@vntrip.vn
                        <br />
                        <b>10. Nghiêm cấm sử dụng</b>
                        <br />
                        Khách hàng không được phép sử dụng tính năng mua vé trực tuyến để đặt chỗ trái phép, giữ chỗ khống, đặt chỗ với các thông tin giả mạo hoặc thiếu trung thực.
                        <br />Khách hàng không được phép:
                        <br />Sử dụng tính năng mua vé trực tuyến cho các hành động trái pháp luật
                        <br />Sử dụng tính năng mua vé trực tuyến gây cản trở đến sự truy cập và sử dụng dịch vụ này của người khác
                        <br /> Sử dụng các phương tiện khác để giao dịch trực tuyến, thu thập thông tin trong trường hợp Khách hàng không thể sử dụng được tính năng đặt chỗ trực tuyến.
                        <br />Vntrip bảo lưu quyền huỷ bỏ yêu cầu sử dụng tính năng này của Khách hàng mà không cần bất kỳ thông báo nào nếu thấy rằng Khách hàng đang vi phạm, hoặc có thể sẽ vi phạm giới hạn sử dụng này.
                        <br />III. Các nội dung quy định chung đối với website
                        <br />
                        <b>1. Bản quyền</b>
                        <br />
                        Những hình ảnh và nội dung trên trang web Vntrip.vn là không được phép sao chép hoặc được sử dụng lại với bất kỳ phiên bản nào khác mà chỉ được sử dụng trên Trang web của Vntrip.vn.
                        <br />
                        <b>2. Điều khoản Chấm dứt</b>
                        <br />
                        Chỉ Vntrip.vn có toàn bộ quyền quyết định đối với việc thay đổi, trì hoãn, tạm ngừng hoặc ngừng trang web này và/hoặc một phần của trang web. Bao gồm cả các dịch vụ hoặc sản phẩm được cung cấp trên trang web này, và/hoặc việc sử dụng trang web này, hoặc một phần của website vào bất cứ lúc nào và/hoặc vì bất kỳ lý do gì mà không cần thông báo trước cho Thành viên.
                        Trong trường hợp chấm dứt, Thành viên vẫn bị ràng buộc bởi các nghĩa vụ trong Điều khoản này, bao gồm nhưng không giới hạn ở các đảm bảo, bồi thường, khước từ và giới hạn của các nghĩa vụ pháp lý mà bạn đã đồng ý.
                        Vntrip.vn không chịu trách nhiệm với Thành viên hoặc bất kỳ bên thứ ba nào về việc chấm dứt hoặc đình chỉ sự truy cập của Thành viên vào trang web Vntrip.vn.
                        <br /><b>3. Điều khoản khác</b>
                        <br />
                        Tất cả những Điều kiện và Điều khoản được công nhận bởi pháp luật Việt Nam.
                        Những Điều kiện và Điều khoản này sẽ cấu thành toàn bộ thỏa thuận và hiểu biết giữa Thành viên và Vntrip.vn về đối tượng của các Điều kiện và Điều khoản, và sẽ thay thế mọi thoả thuận trước đây, dù bằng văn bản hoặc bằng lời nói, giữa Thành viên và Vntrip.vn liên quan đến đối tượng của các Điều kiện và Điều khoản.
                        Nếu Thành viên sử dụng trang web cho hoặc thay mặt cho một bên thứ ba, chẳng hạn như một thành viên trong gia đình hoặc một người bạn đồng hành, bạn có trách nhiệm cho bất kỳ lỗi nào trong tính chính xác của thông tin cung cấp liên quan đến việc sử dụng này. Ngoài ra, khách hàng phải thông báo cho bên thứ ba tất cả các Điều kiện và Điều khoản áp dụng. Khi sử dụng trang web thay mặt hoặc đại diện cho một bên thứ ba, bạn đồng ý bồi thường và giữ cho Vntrip.vn không bị tổn hại đối với bất kỳ và mọi trách nhiệm, tổn thất, thiệt hại, kiện tụng và cáo buộc bao gồm cả các khoản chi phí pháp lý, phát sinh từ hoặc liên quan đến các vi phạm của các Điều kiện và Điều khoản này hoặc do sơ suất của Thành viên và/hoặc các bên thứ ba.
                        Thành viên không thể chuyển nhượng hoặc chuyển giao bất cứ quyền và nghĩa vụ nào của Thành viên theo các Điều kiện và Điều khoản này mà không có sự chấp thuận trước bằng văn bản của Vntrip.vn.
                        Vntrip.vn bảo lưu quyền sửa đổi hoặc hủy bỏ các Điều kiện và Điều khoản (hoặc các phần của Điều kiện và Điều khoản) theo quyết định của riêng Vntrip.vn. Vntrip.vn có thể sửa đổi các Điều kiện và Điều khoản bất cứ lúc nào bằng cách đăng tải bản sửa đổi trên trang web. Phiên bản mới nhất của Điều kiện và Điều khoản sẽ thay thế tất cả các phiên bản trước đó.
                        Các thông báo được đưa ra theo Điều kiện và Điều khoản này sẽ được coi là đã được đưa ra một cách đầy đủ nếu các thông báo này được lập thành văn bản và được gửi bảo đảm hoặc dịch vụ báo phát hoặc phương cách tương đương tới các bên liên quan (tại địa chỉ trụ sở của chúng tôi, hoặc tại địa chỉ khác được thông báo).
                        <br /><b>10. Điều khoản với đối tác Vntrip.vn</b>
                        <br />
                        <a href="https://developer.expediapartnersolutions.com/terms/vi/" style="color:blue">Điều khoản sử dụng Expedia</a>
                        <br />
                        Mọi thắc mắc vui lòng liên hệ:
                        <br />
                        <b>Công ty TNHH VNTRIP OTA</b>
                        <br />
                        Tầng 2, tòa 17T4 Hapulico Complex, số 01 Nguyễn Huy Tưởng, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội.
                        <br />
                        Hotline: 0963 266 688
                        <br />
                        Email: cs@vntrip.vn
                    </div>
                   </div>
                    </div>
                </section>
                </main>
    <script async="" src="//vntripvn.api.useinsider.com/ins.js?id=10003114"></script></div></div></div></div>
    
  </body>
</html>


